.notFound {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.errorNum {
    font-size: 130px;
    color: white;
}

.errorDescription {
    font-size: 50px;
    color: white;
}

.backToGeneral {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.serverError {
    width: 100%;
}

.serverErrorImg {
    width: 100%;
}