.allFilms {
    width: 100%;
}

.films {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.pageNum {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 2px;
    cursor: pointer;
}
